
@{
    ViewBag.Title = "AccessDenied";
}

<div class="col-md-6 offset-md-3 col-xs-12 p-0">
    <div class="card border-grey border-lighten-3 px-1 py-1 box-shadow-3">
        <div class="card-block text-xs-center">
            <h3>لا تمتلك الصلاحية للدخول إلى هذه الصفحة</h3>
            <p>
                يرجى تسجيل الدخول
            </p>
            <div class="mt-2"><i class="icon-gear-a spinner font-large-2"></i></div>
        </div>
    </div>
</div>

