
@{
    ViewBag.Title = "AccessDenied";
}

<div class="col-md-6 offset-md-3 col-xs-12 p-0">
    <div class="card border-grey border-lighten-3 px-1 py-1 box-shadow-3">
        <div class="card-block text-xs-center">
            <object class="logo-object" type="image/svg+xml" data="~/Content/FinalVersion/IBCF.svg"></object>

            <h3>لا تمتلك الصلاحية للدخول إلى هذه الصفحة</h3>
            
            <div class="mt-2">
                <a href="@Url.Action("Login")" id="loginLink" class="btn btn-primary">
                    <i class="ficon icon-sign-in"></i>
                    <span>تسجيل الدخول</span>
                </a>
            </div>
        </div>
    </div>
</div>

