<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CfDataContext.Properties.Settings.CfConnectionString"
            connectionString="Data Source=.;Initial Catalog=Cf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>