@*edit by Mohammad Ahmad 23/10/2017*@
@if (HttpContext.Current.Session["user"] != null)
{
    using (Html.BeginForm("LogOff", "Home", new { area = "Repository" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        <li class="dropdown dropdown-user nav-item" style="margin-top:8px;">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link dropdown-user-link" aria-expanded="false">
                <i class="icon-user4" style="font-size:30px; line-height:15px;"></i>
                <span class="user-name">
                    @(((CfMembership.User)Session["user"]).fName + " " + ((CfMembership.User)Session["user"]).lName)
                </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-item"><i class="icon-power3"></i> تسجيل الخروج</a>
            </div>
        </li>
    }
}
else
{
    <li class="dropdown dropdown-user nav-item">
        <a href="@Url.Action("Login")" id="loginLink" class="nav-link nav-link-label">
            <i class="ficon icon-sign-in"></i>
            <span>تسجيل الدخول</span>
        </a>
    </li>
}